!!!
%html
  %head
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", :name => "viewport"}
    %meta{:content => "http://www.americathisis.us/images/american-people.png", :property => "og:image"}
    %meta{:content => "What makes America truly great?", :name => "description"}/


    %title= current_page.data.title || "This is America"

    //Curtive Mono & Open Sans
    %link{:href => "https://fonts.googleapis.com/css?family=Cutive+Mono|Open+Sans", :rel => "stylesheet"}
    //Fav Icon
    %link{:href => "favicon-96x96.png", :rel => "icon", :sizes => "96x96", :type => "image/png"}
    %link{:href => "favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}
    %link{:href => "favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}

    //Jquery
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}

    =stylesheet_link_tag :"site"
    =javascript_include_tag :all


  %body{:class => page_classes}
    = yield
