---
title: We are American
---

.page
	.full-vh
		%div.pos-a-mid.txt-c
			%h1.mbxxxl
				I am
				%span#american.type-underline American
.page
	.grid.full-vh
		.col.col-middle
			.container.txt-c
				%h2.mbxxxl Don’t forget what makes America truly great.
				%p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
