---
title: I am American
---

.page#page2
	.full-vh.vert-middle
		.grid
			.col
				.person
					=partial 'images/person-hold.svg'
			.col
				.person
					=partial 'images/person-hold.svg'
			.col
				.person
					=partial 'images/person-hold.svg'
			.col
				.person
					=partial 'images/person-hold.svg'
		%div.txt-c.mvxxxl
			%h1
				I am
			%h1
				%span.title.type-underline#american An Immigrant
		.grid
			.col
				.person
					=partial 'images/person-hold.svg'
			.col
				.person
					=partial 'images/person-hold.svg'
			.col
				.person
					=partial 'images/person-hold.svg'
			.col
				.person
					=partial 'images/person-hold.svg'
.page#page2
	.full-vh.vert-middle

		.container.txt-c
			%h2.mbxxxl Don’t forget what makes America truly great.
			%p.mbxxl The unique strength of America comes from our diversity. We are a nation founded on freedom. Support the ACLU in protecting our freedoms.
			%a.button.btn-highlight.btn-lg{:href => "https://www.aclu.org", :target =>"_blank"}
				Donate
